<!DOCTYPE html>
<html>
<head>
  <title>Go Moment - Better TripAdvisor Reviews For Hotels</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'http://www.gomoment.com/uploads/files/2014/04/favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
